*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Roboto', sans-serif;
}

.container{
	padding: 80px;
	margin: 0 auto;
	background: #F5F7F8;
}

.title-refresh{
	text-align: center;
	padding-bottom: 30px;
}

.players{
	display: flex;
	justify-content: center;
}

/*.player1{
	position: relative;
}

.player2{
	position: relative;
}*/

.dice1{
	position: relative;
}

.dice2{
	position: relative;
}

/*.dice-p1{
	position: absolute;
	border: 2px;
	top: 200px;
	margin-right: 50px;
	z-index: 3;
}

.dice-p2{
	position: absolute;
	border: 2px;
	z-index: 3;
}*/

.player-headers{
	text-align: center;
	font-family: 'Long Cang', cursive;
	font-size: 24px;
}

.btn-container{
	padding-top: 50px;
	display: flex;
	justify-content: center;
	column-gap: 10px;
}

.btn{
	border: none;
	padding: 15px;
	width: 100px;
	text-transform: uppercase;
}

.btn-reset{
	border: none;
	padding: 15px;
	width: 100px;
	text-transform: uppercase;
}

.btn:hover{
	background: gray;
	color: #000;
}

/*.btn-toggle{
	background-color: red;
	color: #fff;
}*/

.creator-txt{
	text-align: center;
	padding-top: 50px;
	font-size: 15px;
}

@media screen and (max-width: 500px){
	.players{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 50px;
	}
}
